/*padding goes to clockwise top right bottom left */
nav .div1 h1{ 
text-decoration: none;
margin: 10%;
border: dotted 10px black;
text-align: center;
padding: 10% 7% 10% 10%;
list-style: none;
}

nav .div2{
   border: solid 10px rgb(57, 128, 54);
   text-align: center;
   margin: 15% 15% 15% 10%;
   list-style: none;

}
nav .div3{
   border: dashed 10px rgb(114, 37, 34);
   text-align: center;
   margin: 10% 7% 10% 7%;
   list-style: none;
   
}

















/* rm em % px difference */
/* when to use padding and margin */
/* margin is space outside the border of the element */
/* margin-top -20% use if its not moving  */
/* how to format your code */
/* different colors style  center of the page*/
/* color analogy  */